.header {
  position: fixed;
  min-width: 100%;
  max-width: 1440px;
}
.header_wrapper {
  display: flex;
  max-width: 1110px;
  margin-top: 18px;
  padding: 0 167px 0 167px;
  & .header-burger_menu {
    min-width: 120px;
    display: flex;
    & nav {
      list-style-type: none;
      display: flex;
      width: 245px;
      justify-content: space-between;
      & li {
        line-height: 40px;
        width: 50px;
        & a {
          @extend %fonts_h5;
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
  }
}

.logo {
  position: relative;
  min-width: 80px;
  max-width: 79px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  & img {
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.btn-header {
  line-height: 18px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  background: #111b47;
  border-radius: 2px;
  color: white;
  padding: 10px 55px;
  margin-left: auto;
  min-width: 160px;
}

.for_header-burger,
#header-burger,
.burger-line {
  display: none;
}
