<div class="header">
  <div class="header_wrapper">
    <input type="checkbox" id="header-burger" />
    <label class="for_header-burger" for="header-burger">Menu</label>
    <div class="burger-line first"></div>
    <div class="burger-line second"></div>
    <div class="burger-line third"></div>
    <div class="burger-line forth"></div>
    <div class="header-burger_menu">
      <nav>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </nav>
      <div class="logo">
        <a href="#"><img src="../images/Landie.png" alt="logo"/></a>
      </div>
      <button class="btn-header">Buy Now</button>
    </div>
  </div>
</div>
