<section class="section-forth">
    <div class="section_wrapper">
        <div class="section-forth_left-side">
            <img src="../images/undraw_social_influencer_sgsv.png" alt="undraw_social_influencer">
        </div>
        <div class="section-forth_right-side">
            <h3>Light, Fast & Powerful</h3> 
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
             mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
         </div>
    </div>
</section>