<section class="section-sixth">
    <div class="section_wrapper">
        <h3>A Price To Suit Everyone</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
        <h1>$40</h1>
        <p>UI Design Kit</p>
        <p class="small-text">
            See, One price. Simple.
        </p>
        <button>27593979-2D30-4AFB-A339-BCE88A32C28C</button>
    </div>
</section>