<section class="section-second">
    <div class="section_wrapper">
        <div class="section-second_left-side">
            <h3>Light, Fast & Powerful</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <div class="section-second_text-card">
                <div class="section-second_text-card first">
                <h4>Title Goes Here</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </div>
            <div class="section-second_text-card second">
                <h4>Title Goes Here</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
            </div>
        </div>
        <div class="section-second_right-side">
            <img src="../images/u.png" alt="Light, Fast & Powerful">
        </div>
    </div>
</section>