<footer>
    <div class="footer_wrapper">
    <div class="footer-upper_part">
        <div class="copyright">©2019 UIX</div>
        <div class="footer-logo">
            <a href="#"><img src="../images/Landie.png" alt="Logo"></a>
        </div>
        <button>ECD6D6E8</button>
    </div>
    <div class="footer-bottom_part">
        <nav class="footer-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </nav>
        <nav class="social">
         <div class="facebook">A</div>
         <div class="linked-in"></div>
         <div class="twitter"></div>
         <div class="youtube"></div>
         <div class="instagram"></div>
        </nav>
    </div>
</div>
</footer>